*
{
	padding: 0;
	margin: 0;
	
	font-family: sans-serif;
}

.frame, .panel
{
	display: block;
	overflow: hidden;
	
	width: auto;
	min-width: 800px;
	max-width: 1200px;
	height: 2.4em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;

	border: 1px solid #888888;
	border-radius: 10px;
}

.frame
{
	background-color: #CCCCCC;	
	
	transition: background-color 0.5s, border-color 0.5s;
}

.frame:hover
{
	background-color: #AAAAAA;
	border-color: #000000;
}

.frame.open
{
	height: auto;
}

.frame.open:hover
{
	background-color: #AAAAAA;	
	border-color: #000000;
}

.frame .content
{
	display: none;
	
	width: auto;
	height: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 15px;
	margin-right: 15px;
	padding: 5px;
	
	background-color: #EEEEEE;
	border: 1px solid #888888;
	border-radius: 10px;
}

.frame.open .content
{
	display: block;
}

.panel
{
	background-color: #ffa020;
	border-color: #ff8000;
}

.topbar
{
	margin-top: 0;
	border-top-width: 0;

	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

dl.properties dt
{
	margin-left: 10px;
	width: 150px;
	height: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	
	font-weight: 900;
	border-top: 1px #888888 dashed;
}

dl.properties dt:nth-of-type(1)
{
	border-top: none;
}

dl.properties dd
{
	margin-top: -31px;
	margin-left: 160px; 
	margin-right: 10px;
	min-height: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	
	border-top: 1px #888888 dashed;
}

dl.properties dd:nth-of-type(1)
{
	border-top: none;
}

#settings h2
{
	display: inline;

	font-size: 0.8em;
	font-weight: 100;
}

#settings .hadesinfo
{
	display: inline;
}

h1
{
	width: auto;
	min-width: 780px;
	max-width: 1180px;
	margin-left: auto;
	margin-right: auto;
}

.hades-edition\=sisyphos_graph #bodies
{
	display: inline-block;
	width: 600px;
	overflow: scroll;
}

#objects
{
	float: right;
	min-width: 200px;
	max-width: 600px;
}

#container
{
	width: 500px;
	height: 500px;
	margin-bottom: 0;
	margin-right: 10px;
	background-color: #ffffff;
}

#current-node
{
	width: 500px;
	margin-right: 10px;
	background-color: #f8f8f8;
	border-top: 1px #888888 solid;
	border-bottom: 1px #888888 solid;
}

#current-node.used\=true
{
	border-color: #ff8800;
}

#current-node.used\=false .current-node-x\!::before,
#current-node.used\=false .current-node-y\!::after
{
	content: '\2014';
}

#current-node.used\=false
{
	visibility: hidden;	
}

/*
body .hades-state\=constructing,
body .hades-state\=running,
body .hades-state\=concluding,
body .hades-state\=dead
{
	display: none;
}

body.hades-state\=constructing .hades-state\=constructing,
body.hades-state\=running      .hades-state\=running,
body.hades-state\=concluding   .hades-state\=concluding,
body.hades-state\=dead         .hades-state\=dead
{
	display: block;
}

body .hades-edition\=text,
body .hades-edition\=sisyphos_graph
{
	display: none;
}

body.hades-edition\=text           .hades-edition\=text,
body.hades-edition\=sisyphos_graph .hades-edition\=sisyphos_graph
{
	display: block;
}

body .hades-ticked\=true,
body .hades-ticked\=false
{
	display: none;
}

body.hades-ticked\=true  .hades-ticked\=true,
body.hades-ticked\=false .hades-ticked\=false
{
	display: block;
}

.hades-state\!:empty + #hades-state-update
{
	display: none;
}

.hades-runcount\!:empty + #hades-runcount-update
{
	display: none;
}*/


.hades-mode\!:empty::before,
.hades-state\!:empty::before,
.hades-edition\!:empty::before,
.hades-runcount\!:empty::before
{
	content: '\2014';
}

.hades-untocked-timestamp\!:empty::before,
.hades-untocked-timestamp\!:empty::after
{
	content: '';
}

.hades-untocked-timestamp\!::before
{
	content: '<';
}

.hades-untocked-timestamp\!::after
{
	content: '>';
}

.hades-untocked\!:empty::before
{
	content: '\2014';
}

.dike-hexametername\!
{
	padding-left: 5px;
	font-size: 0.8em;
}

.lastmessage-parameter\!
{
	max-height: 12em;
	overflow: auto;
}

#test
{
	display: block;
	overflow: visible;
	
	width: auto;
	min-width: 800px;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	
	color: #888888;
	font-family: monospace;
}


input,
textarea
{
	display: inline-block;
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;
	height: 1.8em;

	border: 1px solid #000000;
	border-radius: 4px;
	font-size: 0.8em;
}

input[type="button"]
{
	background: linear-gradient(to bottom, #CCCCCC, #888888);
}

input[type="button"]:disabled,
input[type="button"]:disabled:hover
{
	background: linear-gradient(to bottom, #CCCCCC, #AAAAAA);
	color: #888888;
	border-color: #888888;
}

input[type="button"]:hover
{
	background: linear-gradient(to bottom, #888888, #CCCCCC);
}

input[type="button"]:focus
{
	border-color: #FF8000;
	color: #FF8000;
	outline: none;
}

input[type="text"],
textarea
{
	background-color: #F4F4F4;
	width: 12em;
}

input[type="text"]:disabled,
input[type="text"]:disabled:hover,
textarea:disabled,
textarea:disabled:hover
{
	background-color: #F4F4F4;
	color: #888888;
	border-color: #888888;
}

input[type="text"]:hover,
textarea:hover
{
	background-color: #FFFFFF;
}

input[type="text"]:focus,
textarea:focus
{
	border-color: #FF8000;
	background-color: #FFFFFF;
}

input[type="number"]
{
	width: 6em;
	font-size: 0.8em;
	padding-top: 0;
	padding-bottom: 0;
}

label
{
	font-size: 0.8em;
}


#hades-synchronize
{
	display: none;
}

#hades-synchronize + label[for="hades-synchronize"]
{
	display: inline-block;
	padding-top: 3px;
	padding-bottom: 2px;
	padding-left: 4px;
	padding-right: 4px;
	position: relative;
	top: 0.3px; /* wtf, firefox */

	background: linear-gradient(to bottom, #CCCCCC, #888888);
	border: 1px solid #000000;
	border-radius: 4px;
	font-size: 0.8em;
}

#hades-synchronize + label[for="hades-synchronize"]:hover
{
	background: linear-gradient(to bottom, #888888, #CCCCCC);
}

#hades-synchronize + label[for="hades-synchronize"]::before
{
	content: '';
	display: inline-block;
	height: 14px;
	width: 14px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	margin-right: 4px;
	vertical-align: middle;

	background-color: #CCCCCC;
	border: 1px solid #888888;
	border-radius: 4px;
}

#hades-synchronize:checked + label[for="hades-synchronize"]::before
{
	background-color: #FF8000;
}

#hades-synchronize:focus + label[for="hades-synchronize"]::before
{
	border-color: #FF8000;
}

