*
{
	padding: 0;
	margin: 0;
	
	font-family: sans-serif;
}

#container
{
	width: 500px;
	height: 500px;
}

.frame, .panel
{
	display: block;
	overflow: hidden;
	
	width: auto;
	min-width: 800px;
	max-width: 1200px;
	height: 2em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;

	border: 1px solid #888888;
	border-radius: 10px;
}

.frame
{
	background-color: #CCCCCC;	
	
	transition: background-color 0.5s, border-color 0.5s;
}

.frame:hover
{
	background-color: #AAAAAA;
	border-color: #000000;
}

.frame.open
{
	height: auto;
}

.frame.open:hover
{
	background-color: #AAAAAA;	
	border-color: #000000;
}

.frame .content
{
	display: none;
	
	width: auto;
	height: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 15px;
	margin-right: 15px;
	padding: 5px;
	
	background-color: #EEEEEE;
	border: 1px solid #888888;
	border-radius: 10px;
}

.frame.open .content
{
	display: block;
}

.panel
{
	background-color: #ffa020;
	border-color: #ff8000;
}

.topbar
{
	margin-top: 0;
	border-top-width: 0;

	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

dl.properties dt
{
	margin-left: 10px;
	width: 150px;
	height: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	
	font-weight: 900;
	border-top: 1px #888888 dashed;
}

dl.properties dt:nth-of-type(1)
{
	border-top: none;
}

dl.properties dd
{
	margin-top: -31px;
	margin-left: 160px; 
	margin-right: 10px;
	min-height: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	
	border-top: 1px #888888 dashed;
}

dl.properties dd:nth-of-type(1)
{
	border-top: none;
}

/*body.hades-edition\=sisyphos_graph p { color: #FF0000; }*/

#settings h2
{
	display: inline;

	font-size: 0.8em;
	font-weight: 100;
}

#settings .hadesinfo
{
	display: inline;
}

h1
{
	width: auto;
	min-width: 780px;
	max-width: 1180px;
	margin-left: auto;
	margin-right: auto;
}

.hades-edition\=sisyphos_graph #bodies
{
	display: inline-block;
	width: 600px;
	overflow: scroll;
}

#container
{
	margin-right: 10px;
	float: right;
	background-color: #ffffff;
}

body .hades-state\=constructing,
body .hades-state\=running,
body .hades-state\=concluding,
body .hades-state\=dead
{
	display: none;
}

body.hades-state\=constructing .hades-state\=constructing,
body.hades-state\=running      .hades-state\=running,
body.hades-state\=concluding   .hades-state\=concluding,
body.hades-state\=dead         .hades-state\=dead
{
	display: block;
}

body .hades-edition\=text,
body .hades-edition\=sisyphos_graph
{
	display: none;
}

body.hades-edition\=text           .hades-edition\=text,
body.hades-edition\=sisyphos_graph .hades-edition\=sisyphos_graph
{
	display: block;
}

body .hades-ticked\=true,
body .hades-ticked\=false
{
	display: none;
}

body.hades-ticked\=true  .hades-ticked\=true,
body.hades-ticked\=false .hades-ticked\=false
{
	display: block;
}


/*
#settings
{
	display: block;
	width: 80%;
	height: 1.8em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 20px;
	padding-bottom: 10px;
	padding-top: 0.6em;

	background-color: #CCCCCC;
	border: 1px solid #888888;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	
}

#settings > *
{
	margin-left: 20px;
	margin-right: 20px;
}

#settings dl#connections
{
	display: inline;
	height: 1.8em;
}

#settings dl#connections dt
{
	display: inline;
	padding-right: 1em;
	
	font-family: monospace;
	font-weight: 900;
	font-size: 1.2em;
}

#settings dl#connections dt:after
{
	content: ':';
}

#settings dl#connections dd
{
	display: inline;
}

#settings input
{
	padding: 2px;
	font-size: 1.2em;
	font-family: monospace;
}

#settings p#hadesmissing
{
	display: inline;
}

h1
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#lastresponse, #newmessage
{
	display: block;
	overflow: hidden;
	width: 80%;
	height: 1.8em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	
	background-color: #CCCCCC;
	border-radius: 10px;
	border: 1px solid #888888;
	
	transition: background-color 0.5s, border-color 0.5s;
}

#lastresponse:hover, #newmessage:hover
{
	background-color: #AAAAAA;
	border-color: #000000;
}

#lastresponse.active, #newmessage.active
{
	height: auto;
}

#lastresponse > *, #newmessage > *
{
	margin-left: 20px;
	margin-right: 20px;
}

#lastresponse > :first-child, #newmessage > :first-child
{
	margin-top: 0.4em;
	margin-bottom: 1em;
}

#lastresponse dl, #newmessage dl
{
	background-color: #EEEEEE;
	border-radius: 10px;
	margin-bottom: 1em;
	padding-top: 20px;
	padding-bottom: 20px;
}

#lastresponse dl dt, #newmessage dl dt
{
	margin-left: 10px;
	width: 150px;
	height: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	
	font-weight: 900;
	border-top: 1px #888888 dashed;
}

#lastresponse dl dt:nth-of-type(1), #newmessage dl dt:nth-of-type(1)
{
	border-top: none;
}

#lastresponse dl dd, #newmessage dl dd
{
	margin-top: -31px;
	margin-left: 160px; 
	margin-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	
	border-top: 1px #888888 dashed;
}

#lastresponse dl dd:nth-of-type(1), #newmessage dl dd:nth-of-type(1)
{
	border-top: none;
}

#window
{
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	
	background-color: #FF8844;
	border: 1px solid #FF4400;
	border-radius: 10px;
}

#window > *
{
	margin-left: 20px;
	margin-right: 20px;
}

#window > :first-child
{
	margin-top: 0.4em;
	margin-bottom: 1em;
}

#window ul#bodies
{
	background-color: #FFEEDD;
	border-radius: 10px;
	margin-bottom: 1em;
	padding-top: 20px;
	padding-bottom: 20px;
	border: 1px solid #FF4400;
}

#window ul#bodies > *
{
	margin-left: 20px;
	margin-right: 20px;
}

#window ul#bodies li
{
	margin-top: 10px;
}

#window ul#bodies li > p:first-child
{
	font-size: 1.4em;
}

#window ul#bodies dt
{
	display: inline-block;
	width: 150px;
}

#window ul#bodies dd
{
	display: inline;
}
#window ul#bodies dd:after
{
	content:"\A";
	white-space:pre;
}*/
